@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@400;600;700;&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.nanum-gothic {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.header_navi {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: #fff;
}
.header_navi-inner {
  width: 1500px;
  height: 100%;
  background-color: fff;
  margin: 0 auto;
}
.header_navi-inner .header_top {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.header_navi-inner .header_top .logo {
  padding-top: 30px;
}
.header_navi-inner .header_top .utilty_wrap {
  display: flex;
}
.header_navi-inner .header_top .utilty_wrap .utilty_search_button_box {
  width: 300px;
  height: 36px;
  background-color: #ececec;
  border-radius: 17px;
  position: relative;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.header_navi-inner .header_top .utilty_wrap .utilty_search_button_box .search_button {
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}
.header_navi-inner .header_top .utilty_wrap .cart_button {
  border: 0;
  background: 0;
  margin-right: 10px;
  cursor: pointer;
}
.header_navi-inner .header_top .utilty_wrap .user_button {
  border: 0;
  background: 0;
  cursor: pointer;
}
.header_navi-inner .menu_wrap {
  width: 1500px;
  height: 60px;
  position: relative;
}
.header_navi-inner .menu_wrap .menu_list {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #393838;
  display: flex;
}
.header_navi-inner .menu_wrap .menu_list .menu_item {
  padding-right: 25px;
  margin-top: 15px;
  line-height: 30px;
  cursor: pointer;
}
.header_navi-inner .menu_wrap .menu_list .menu_item:hover {
  background-color: #000;
  border-radius: 30px;
  color: #fff;
  text-align: center;
}
.header_navi-inner .menu_wrap .menu_list .menu_item .sub_menu_list {
  display: none;
}
.header_navi-inner .menu_wrap .menu_list .menu_item .sub_menu_list:hover {
  width: 300px;
  height: 300px;
  background-color: #000;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  display: block;
}
.main-container .main-slide {
  width: 100%;
  overflow-x: hidden;
}
.main-container .main-slide .main_img01 {
  width: 100%;
  height: 650px;
}
.main-container .main-slide .main_img01 .main-slide-title .main_slide-img_title {
  position: absolute;
  top: 350px;
  left: 150px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 43px;
  font-weight: 700;
  letter-spacing: -2px;
  color: #000;
}
.main-container .main-slide .main_img01 .main-slide-title .main_slide-img_text {
  position: absolute;
  top: 490px;
  left: 150px;
  font-size: 14px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  color: #000;
}
.main-container .main-slide .main_img01 .main-slide-title .main_slide-img_text:nth-of-type(2) {
  position: absolute;
  top: 490px;
  left: 150px;
  font-size: 14px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  color: #000;
  position: absolute;
  top: 514px;
  left: 150px;
}
.main-container .main-slide .main_img01 .main-slide-button .more_button {
  position: absolute;
  top: 575px;
  left: 150px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  width: 65px;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #000;
  color: #000;
  cursor: pointer;
}
.main-container .main-slide .main_img01 .main-slide-button .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #0e0d0d;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
}
.main-container .main-slide .main_img02 .main-slide-title .main_slide-img_title {
  position: absolute;
  top: 350px;
  left: 150px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 43px;
  font-weight: 700;
  letter-spacing: -2px;
  color: #000;
  position: absolute;
  top: 350px;
  left: 1120px;
  color: #fff;
}
.main-container .main-slide .main_img02 .main-slide-title .main_slide-img_text {
  position: absolute;
  top: 490px;
  left: 150px;
  font-size: 14px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  color: #000;
  position: absolute;
  top: 490px;
  left: 1120px;
  color: #fff;
}
.main-container .main-slide .main_img02 .main-slide-title .main_slide-img_text:nth-of-type(2) {
  position: absolute;
  top: 490px;
  left: 150px;
  font-size: 14px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  color: #000;
  position: absolute;
  top: 514px;
  left: 1120px;
  color: #fff;
}
.main-container .main-slide .main_img02 .main-slide-button .more_button {
  position: absolute;
  top: 575px;
  left: 150px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  width: 65px;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #000;
  color: #000;
  cursor: pointer;
  position: absolute;
  top: 575px;
  left: 1120px;
  border-bottom: 2px solid #fff;
  color: #fff;
}
.main-container .main-slide .main_img02 .main-slide-button .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #fff;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 568px;
  left: 1205px;
  color: #000;
}
.main-container .main-slide .main_img03 .main-slide-title .main_slide-img_title {
  position: absolute;
  top: 350px;
  left: 150px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 43px;
  font-weight: 700;
  letter-spacing: -2px;
  color: #000;
}
.main-container .main-slide .main_img03 .main-slide-title .main_slide-img_text {
  position: absolute;
  top: 490px;
  left: 150px;
  font-size: 14px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  color: #000;
}
.main-container .main-slide .main_img03 .main-slide-title .main_slide-img_text:nth-of-type(2) {
  position: absolute;
  top: 490px;
  left: 150px;
  font-size: 14px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  color: #000;
  position: absolute;
  top: 514px;
  left: 150px;
}
.main-container .main-slide .main_img03 .main-slide-button .more_button {
  position: absolute;
  top: 575px;
  left: 150px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  width: 65px;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #000;
  color: #000;
  cursor: pointer;
  width: 85px;
}
.main-container .main-slide .main_img03 .main-slide-button .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #0e0d0d;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 568px;
  left: 253px;
}
.main-container .main-slide .main_img04 .main-slide-title .main_slide-img_sub_title {
  position: absolute;
  top: 490px;
  left: 150px;
  font-size: 14px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  color: #000;
  position: absolute;
  top: 375px;
  left: 150px;
  font-size: 20px;
  letter-spacing: -2px;
}
.main-container .main-slide .main_img04 .main-slide-title .main_slide-img_title {
  position: absolute;
  top: 350px;
  left: 150px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 43px;
  font-weight: 700;
  letter-spacing: -2px;
  color: #000;
  position: absolute;
  top: 410px;
  left: 150px;
}
.main-container .main-slide .main_img04 .main-slide-title .main_slide-img_text {
  position: absolute;
  top: 490px;
  left: 150px;
  font-size: 14px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  color: #000;
}
.main-container .main-slide .main_img04 .main-slide-title .main_slide-img_text:nth-of-type(2) {
  position: absolute;
  top: 490px;
  left: 150px;
  font-size: 14px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  color: #000;
  position: absolute;
  top: 514px;
  left: 150px;
}
.main-container .main-slide .main_img04 .main-slide-button .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #0e0d0d;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 568px;
  left: 150px;
}
.main-container .main-slide .main_img05 .main-slide-title .main_slide-img_title {
  position: absolute;
  top: 350px;
  left: 150px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 43px;
  font-weight: 700;
  letter-spacing: -2px;
  color: #000;
}
.main-container .main-slide .main_img05 .main-slide-title .main_slide-img_text {
  position: absolute;
  top: 490px;
  left: 150px;
  font-size: 14px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  color: #000;
}
.main-container .main-slide .main_img05 .main-slide-title .main_slide-img_text:nth-of-type(2) {
  position: absolute;
  top: 490px;
  left: 150px;
  font-size: 14px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  color: #000;
  position: absolute;
  top: 514px;
  left: 150px;
}
.main-container .main-slide .main_img05 .main-slide-button .more_button {
  position: absolute;
  top: 575px;
  left: 150px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  width: 65px;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #000;
  color: #000;
  cursor: pointer;
  width: 70px;
}
.main-container .main-slide .main_img05 .main-slide-button .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #0e0d0d;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 568px;
  left: 236px;
}
.main-container .main-slide .main_img06 .main-slide-title .main_slide-img_title {
  position: absolute;
  top: 350px;
  left: 150px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 43px;
  font-weight: 700;
  letter-spacing: -2px;
  color: #000;
  position: absolute;
  top: 410px;
  left: 150px;
}
.main-container .main-slide .main_img06 .main-slide-title .main_slide-img_text {
  position: absolute;
  top: 490px;
  left: 150px;
  font-size: 14px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  color: #000;
}
.main-container .main-slide .main_img06 .main-slide-title .main_slide-img_text:nth-of-type(2) {
  position: absolute;
  top: 490px;
  left: 150px;
  font-size: 14px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  color: #000;
  position: absolute;
  top: 514px;
  left: 150px;
}
.main-container .main-slide .main_img06 .main-slide-button .more_button {
  position: absolute;
  top: 575px;
  left: 150px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  width: 65px;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #000;
  color: #000;
  cursor: pointer;
  width: 85px;
}
.main-container .main-slide .main_img06 .main-slide-button .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #0e0d0d;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 568px;
  left: 248px;
}
.main-container .main-slide .main_img07 .main-slide-title .main_slide-img_title {
  position: absolute;
  top: 350px;
  left: 150px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 43px;
  font-weight: 700;
  letter-spacing: -2px;
  color: #000;
}
.main-container .main-slide .main_img07 .main-slide-title .main_slide-img_text {
  position: absolute;
  top: 490px;
  left: 150px;
  font-size: 14px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  color: #000;
}
.main-container .main-slide .main_img07 .main-slide-title .main_slide-img_text:nth-of-type(2) {
  position: absolute;
  top: 490px;
  left: 150px;
  font-size: 14px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  letter-spacing: -1px;
  color: #000;
  position: absolute;
  top: 514px;
  left: 150px;
}
.main-container .main-slide .main_img07 .main-slide-button .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #0e0d0d;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 568px;
  left: 150px;
}
.main-container .product-contents {
  background-color: #fff;
  width: 100%;
  position: relative;
}
.main-container .product-contents .product-wrap {
  width: 1400px;
  height: 785px;
  margin: 0 auto;
}
.main-container .product-contents .product-wrap .samsung_title_box {
  width: 550px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.main-container .product-contents .product-wrap .samsung_title_box .samsung_product_title {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -1px;
  display: inline-block;
  padding: 40px 0;
  color: #353535;
  cursor: pointer;
}
.main-container .product-contents .product-wrap .samsung_product_box {
  background-color: #fff;
  display: flex;
  position: relative;
  top: 0;
  right: 0;
}
.main-container .product-contents .product-wrap .samsung_product_box .newgalaxy_product_box_left {
  width: 684px;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.main-container .product-contents .product-wrap .samsung_product_box .newgalaxy_product_box_right {
  width: 688px;
  font-size: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
}
.main-container .product-contents .product-wrap .samsung_product_box .newgalaxy_product_box_right .galaxy_watch_ultra_object {
  margin-right: 27px;
  margin-bottom: 25px;
}
.main-container .product-contents .product-wrap .samsung_product_box .newgalaxy_product_box_right .galaxy_ring_object {
  margin-bottom: 25px;
}
.main-container .product-contents .product-wrap .samsung_product_box .newgalaxy_product_box_right .galaxy_accessory_object {
  margin-right: 27px;
}
.main-container .product_recommend_contents {
  width: 100%;
  height: 400px;
  background-color: #fff;
  position: relative;
}
.main-container .product_recommend_contents .container .recommend_product_title {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  color: #353535;
  padding-top: 60px;
  text-align: center;
}
.main-container .product_recommend_contents .container .product_recommend_promotion {
  width: 1400px;
  margin: 30px auto;
  overflow: hidden;
}
.main-container .product_recommend_contents .container .product_recommend_promotion .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
}
.main-container .product_recommend_contents .container .product_recommend_promotion .swiper-wrapper .swiper-slide .product_recommend_box {
  border-radius: 20px;
  background-color: #f7f7f7;
  width: 320px;
  height: 200px;
  display: flex;
}
.main-container .product_recommend_contents .container .product_recommend_promotion .swiper-wrapper .swiper-slide .product_recommend_box .product_recommend_title {
  width: 150px;
  height: 50px;
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
  font-weight: 600;
  font-optical-sizing: auto;
  color: #343434;
  display: inline-block;
  margin-top: 30px;
}
.main-container .product_recommend_contents .container .product_recommend_promotion .swiper-wrapper .swiper-slide .product_recommend_box .product_recommend_textbox {
  color: #8d8d8d;
  padding-bottom: 30px;
  margin-top: 30px;
}
.main-container .product_recommend_contents .container .product_recommend_promotion .swiper-wrapper .swiper-slide .product_recommend_box .product_recommend_textbox .product_benefit {
  display: flex;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: #c0c0c0;
  line-height: 30px;
  margin-top: 30px;
  word-break: keep-all;
  display: flex;
}
.main-container .product_recommend_contents .container .product_recommend_promotion .swiper-wrapper .swiper-slide .product_recommend_box .product_recommend_textbox .product_benefit .product_benefit_text {
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #404040;
  line-height: 30px;
  margin-top: 30px;
  word-break: keep-all;
  display: flex;
}
.main-container .product_recommend_contents .container .product_recommend_promotion .swiper-wrapper .swiper-slide .product_recommend_box .product_recommend_textbox .product_benefit .product_benefit_price {
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
  color: #2b8bf1;
  font-weight: 600;
  line-height: 30px;
  margin-top: 30px;
  word-break: keep-all;
}
.main-container .product_recommend_contents .container .product_recommend_promotion .swiper-wrapper .swiper-slide .product_recommend_box .product_recommend_textbox .product_point {
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  color: #838383;
  line-height: 30px;
  word-break: keep-all;
  display: flex;
}
.main-container .product_recommend_contents .container .product_recommend_promotion .swiper-wrapper .swiper-slide .product_recommend_box .product_recommend_textbox .product_point .product_point_text {
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  color: #787777;
  line-height: 30px;
  font-weight: 400;
  word-break: keep-all;
}
.main-container .product_recommend_contents .container .product_recommend_promotion .swiper-wrapper .swiper-slide .product_recommend_box .product_recommend_textbox .product_point .product_point_price {
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  color: #666666;
  line-height: 30px;
  font-weight: 600;
  word-break: keep-all;
}
.main-container .product_recommend_promotion .swiper-horizontal > .swiper-pagination-bullets,
.main-container .swiper-pagination-bullets.swiper-pagination-horizontal,
.main-container .swiper-pagination-custom,
.main-container .swiper-pagination-fraction {
  position: relative;
}
.main-container .samsung_pc-contents {
  width: 100%;
  height: 810px;
  background-color: #d9fee5;
  position: relative;
}
.main-container .samsung_pc-contents .box_title {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  color: #353535;
  font-size: 25px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
}
.main-container .samsung_pc-contents .box_menu {
  width: 1400px;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  left: 150px;
  z-index: 3;
}
.main-container .samsung_pc-contents .box_menu .samsung_pc_box_title {
  width: 1100px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.main-container .samsung_pc-contents .box_menu .samsung_pc_box_title .pc_product_title {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  color: #353535;
  font-size: 19px;
  z-index: 1;
}
.main-container .samsung_pc-contents .galaxy_z_flip_samsung_pc_box_visual {
  position: relative;
  z-index: 2;
}
.main-container .samsung_pc-contents .galaxy_z_flip_samsung_pc_box_visual .samsung_pc-visual_img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-container .samsung_pc-contents .galaxy_z_flip_samsung_pc_box_visual .samsung_pc_visual_textbox .title {
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
}
.main-container .samsung_pc-contents .galaxy_z_flip_samsung_pc_box_visual .samsung_pc_visual_textbox .sub_text {
  position: absolute;
  left: 50%;
  top: 640px;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
}
.main-container .samsung_pc-contents .galaxy_z_flip_samsung_pc_box_visual .samsung_pc_visual_textbox .samsung_pc_btns {
  position: relative;
}
.main-container .samsung_pc-contents .galaxy_z_flip_samsung_pc_box_visual .samsung_pc_visual_textbox .samsung_pc_btns .btn_item {
  position: absolute;
  top: 575px;
  left: 150px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  width: 65px;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #000;
  color: #000;
  cursor: pointer;
  width: 100px;
  position: absolute;
  top: 730px;
  left: 730px;
}
.main-container .samsung_pc-contents .galaxy_z_flip_samsung_pc_box_visual .samsung_pc_visual_textbox .samsung_pc_btns .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #000;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 723px;
  left: 860px;
}
.main-container .samsung_pc-contents .galaxy_ring_samsung_pc_box_visual {
  position: relative;
}
.main-container .samsung_pc-contents .galaxy_ring_samsung_pc_box_visual .samsung_pc-visual_img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-container .samsung_pc-contents .galaxy_ring_samsung_pc_box_visual .samsung_pc_visual_textbox .title {
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
}
.main-container .samsung_pc-contents .galaxy_ring_samsung_pc_box_visual .samsung_pc_visual_textbox .sub_text {
  position: absolute;
  left: 50%;
  top: 640px;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
}
.main-container .samsung_pc-contents .galaxy_ring_samsung_pc_box_visual .samsung_pc_visual_textbox .samsung_pc_btns {
  position: relative;
}
.main-container .samsung_pc-contents .galaxy_ring_samsung_pc_box_visual .samsung_pc_visual_textbox .samsung_pc_btns .btn_item {
  position: absolute;
  top: 575px;
  left: 150px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  width: 65px;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #000;
  color: #000;
  cursor: pointer;
  width: 90px;
  position: absolute;
  top: 730px;
  left: 740px;
}
.main-container .samsung_pc-contents .galaxy_ring_samsung_pc_box_visual .samsung_pc_visual_textbox .samsung_pc_btns .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #000;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 723px;
  left: 860px;
}
.main-container .samsung_pc-contents .watch_ultra_samsung_pc_box_visual {
  position: relative;
}
.main-container .samsung_pc-contents .watch_ultra_samsung_pc_box_visual .samsung_pc-visual_img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-container .samsung_pc-contents .watch_ultra_samsung_pc_box_visual .samsung_pc_visual_textbox .title {
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
}
.main-container .samsung_pc-contents .watch_ultra_samsung_pc_box_visual .samsung_pc_visual_textbox .sub_text {
  position: absolute;
  left: 50%;
  top: 640px;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
}
.main-container .samsung_pc-contents .watch_ultra_samsung_pc_box_visual .samsung_pc_visual_textbox .samsung_pc_btns {
  position: relative;
}
.main-container .samsung_pc-contents .watch_ultra_samsung_pc_box_visual .samsung_pc_visual_textbox .samsung_pc_btns .btn_item {
  position: absolute;
  top: 575px;
  left: 150px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  width: 65px;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #000;
  color: #000;
  cursor: pointer;
  width: 70px;
  position: absolute;
  top: 730px;
  left: 750px;
}
.main-container .samsung_pc-contents .watch_ultra_samsung_pc_box_visual .samsung_pc_visual_textbox .samsung_pc_btns .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #000;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 723px;
  left: 845px;
}
.main-container .samsung_pc-contents .tab_s9_samsung_pc_box_visual {
  position: relative;
}
.main-container .samsung_pc-contents .tab_s9_samsung_pc_box_visual .samsung_pc-visual_img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-container .samsung_pc-contents .tab_s9_samsung_pc_box_visual .samsung_pc_visual_textbox .title {
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
}
.main-container .samsung_pc-contents .tab_s9_samsung_pc_box_visual .samsung_pc_visual_textbox .sub_text {
  position: absolute;
  left: 50%;
  top: 640px;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
}
.main-container .samsung_pc-contents .tab_s9_samsung_pc_box_visual .samsung_pc_visual_textbox .samsung_pc_btns {
  position: relative;
}
.main-container .samsung_pc-contents .tab_s9_samsung_pc_box_visual .samsung_pc_visual_textbox .samsung_pc_btns .btn_item {
  position: absolute;
  top: 575px;
  left: 150px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  width: 65px;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #000;
  color: #000;
  cursor: pointer;
  width: 70px;
  position: absolute;
  top: 730px;
  left: 750px;
}
.main-container .samsung_pc-contents .tab_s9_samsung_pc_box_visual .samsung_pc_visual_textbox .samsung_pc_btns .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #000;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 723px;
  left: 50%;
  transform: translateX(-50%);
}
.main-container .samsung_pc-contents .galaxy_book4_samsung_pc_box_visual {
  position: relative;
}
.main-container .samsung_pc-contents .galaxy_book4_samsung_pc_box_visual .samsung_pc-visual_img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-container .samsung_pc-contents .galaxy_book4_samsung_pc_box_visual .samsung_pc_visual_textbox .title {
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
  position: absolute;
  top: 610px;
}
.main-container .samsung_pc-contents .galaxy_book4_samsung_pc_box_visual .samsung_pc_visual_textbox .sub_text {
  position: absolute;
  left: 50%;
  top: 640px;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
  position: absolute;
  top: 682px;
}
.main-container .samsung_pc-contents .galaxy_book4_samsung_pc_box_visual .samsung_pc_visual_textbox .samsung_pc_btns {
  position: relative;
}
.main-container .samsung_pc-contents .galaxy_book4_samsung_pc_box_visual .samsung_pc_visual_textbox .samsung_pc_btns .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #000;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 735px;
  left: 50%;
  transform: translateX(-50%);
}
.main-container .samsung_pc-contents .galaxy_campus_samsung_pc_box_visual {
  position: relative;
}
.main-container .samsung_pc-contents .galaxy_campus_samsung_pc_box_visual .samsung_pc-visual_img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-container .samsung_pc-contents .galaxy_campus_samsung_pc_box_visual .samsung_pc_visual_textbox .title {
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
}
.main-container .samsung_pc-contents .galaxy_campus_samsung_pc_box_visual .samsung_pc_visual_textbox .sub_text {
  position: absolute;
  left: 50%;
  top: 640px;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
}
.main-container .samsung_pc-contents .galaxy_campus_samsung_pc_box_visual .samsung_pc_visual_textbox .samsung_pc_btns {
  position: relative;
}
.main-container .samsung_pc-contents .galaxy_campus_samsung_pc_box_visual .samsung_pc_visual_textbox .samsung_pc_btns .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #000;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 723px;
  left: 50%;
  transform: translateX(-50%);
}

.samsung_tv-contents {
  width: 100%;
  height: 810px;
  background-color: #d9fee5;
  position: relative;
}
.samsung_tv-contents .box_title {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  color: #353535;
  color: #fff;
  font-size: 25px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}
.samsung_tv-contents .box_menu {
  width: 1400px;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  left: 150px;
}
.samsung_tv-contents .box_menu .samsung_tv_box_title {
  width: 700px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.samsung_tv-contents .box_menu .samsung_tv_box_title .tv_product_title {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  color: #353535;
  color: #fff;
  font-size: 19px;
  z-index: 1;
}
.samsung_tv-contents .neo_qled_samsung_tv_box_visual {
  position: relative;
}
.samsung_tv-contents .neo_qled_samsung_tv_box_visual .samsung_tv-visual_img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.samsung_tv-contents .neo_qled_samsung_tv_box_visual .samsung_tv_visual_textbox .title {
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
  color: #fff;
}
.samsung_tv-contents .neo_qled_samsung_tv_box_visual .samsung_tv_visual_textbox .sub_text {
  position: absolute;
  left: 50%;
  top: 640px;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
  color: #fff;
}
.samsung_tv-contents .neo_qled_samsung_tv_box_visual .samsung_tv_visual_textbox .samsung_tv_btns {
  position: relative;
}
.samsung_tv-contents .neo_qled_samsung_tv_box_visual .samsung_tv_visual_textbox .samsung_tv_btns .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #000;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 725px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
}
.samsung_tv-contents .samsung_oled_samsung_tv_box_visual {
  position: relative;
}
.samsung_tv-contents .samsung_oled_samsung_tv_box_visual .samsung_tv-visual_img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.samsung_tv-contents .samsung_oled_samsung_tv_box_visual .samsung_tv_visual_textbox .title {
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
  color: #fff;
}
.samsung_tv-contents .samsung_oled_samsung_tv_box_visual .samsung_tv_visual_textbox .sub_text {
  position: absolute;
  left: 50%;
  top: 640px;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
  color: #fff;
}
.samsung_tv-contents .samsung_oled_samsung_tv_box_visual .samsung_tv_visual_textbox .samsung_tv_btns {
  position: relative;
}
.samsung_tv-contents .samsung_oled_samsung_tv_box_visual .samsung_tv_visual_textbox .samsung_tv_btns .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #000;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 725px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
}
.samsung_tv-contents .theframe_samsung_tv_box_visual {
  position: relative;
}
.samsung_tv-contents .theframe_samsung_tv_box_visual .samsung_tv-visual_img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.samsung_tv-contents .theframe_samsung_tv_box_visual .samsung_tv_visual_textbox .title {
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
  color: #fff;
}
.samsung_tv-contents .theframe_samsung_tv_box_visual .samsung_tv_visual_textbox .sub_text {
  position: absolute;
  left: 50%;
  top: 640px;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
  color: #fff;
}
.samsung_tv-contents .theframe_samsung_tv_box_visual .samsung_tv_visual_textbox .samsung_tv_btns {
  position: relative;
}
.samsung_tv-contents .theframe_samsung_tv_box_visual .samsung_tv_visual_textbox .samsung_tv_btns .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #000;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 725px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
}
.samsung_tv-contents .smart_monitor_samsung_tv_box_visual {
  position: relative;
}
.samsung_tv-contents .smart_monitor_samsung_tv_box_visual .samsung_tv-visual_img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.samsung_tv-contents .smart_monitor_samsung_tv_box_visual .samsung_tv_visual_textbox .title {
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
  color: #000;
}
.samsung_tv-contents .smart_monitor_samsung_tv_box_visual .samsung_tv_visual_textbox .sub_text {
  position: absolute;
  left: 50%;
  top: 640px;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
  color: #000;
}
.samsung_tv-contents .smart_monitor_samsung_tv_box_visual .samsung_tv_visual_textbox .samsung_tv_btns {
  position: relative;
}
.samsung_tv-contents .smart_monitor_samsung_tv_box_visual .samsung_tv_visual_textbox .samsung_tv_btns .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #000;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 725px;
  left: 50%;
  transform: translateX(-50%);
}
.samsung_tv-contents .q_series_samsung_tv_box_visual {
  position: relative;
}
.samsung_tv-contents .q_series_samsung_tv_box_visual .samsung_tv-visual_img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.samsung_tv-contents .q_series_samsung_tv_box_visual .samsung_tv_visual_textbox .title {
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
  position: absolute;
  top: 610px;
  color: #fff;
}
.samsung_tv-contents .q_series_samsung_tv_box_visual .samsung_tv_visual_textbox .sub_text {
  position: absolute;
  left: 50%;
  top: 640px;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
  position: absolute;
  top: 682px;
  color: #fff;
}
.samsung_tv-contents .q_series_samsung_tv_box_visual .samsung_tv_visual_textbox .samsung_tv_btns {
  position: relative;
}
.samsung_tv-contents .q_series_samsung_tv_box_visual .samsung_tv_visual_textbox .samsung_tv_btns .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #000;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 735px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
}

.samsung_appliances-contents {
  width: 100%;
  height: 810px;
  background-color: #d9fee5;
  position: relative;
}
.samsung_appliances-contents .box_title {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  color: #353535;
  color: #000;
  font-size: 25px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}
.samsung_appliances-contents .box_menu {
  width: 1400px;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  left: 150px;
}
.samsung_appliances-contents .box_menu .samsung_appliances_box_title {
  width: 1100px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.samsung_appliances-contents .box_menu .samsung_appliances_box_title .appliances_product_title {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
  color: #353535;
  color: #000;
  font-size: 19px;
  z-index: 1;
}
.samsung_appliances-contents .bespoke_ai_samsung_appliances_box_visual {
  position: relative;
}
.samsung_appliances-contents .bespoke_ai_samsung_appliances_box_visual .samsung_appliances-visual_img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.samsung_appliances-contents .bespoke_ai_samsung_appliances_box_visual .samsung_appliances_visual_textbox .title {
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
  position: absolute;
  top: 587px;
  text-align: center;
}
.samsung_appliances-contents .bespoke_ai_samsung_appliances_box_visual .samsung_appliances_visual_textbox .sub_text {
  position: absolute;
  left: 50%;
  top: 640px;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
  position: absolute;
  top: 560px;
}
.samsung_appliances-contents .bespoke_ai_samsung_appliances_box_visual .samsung_appliances_visual_textbox .samsung_appliances_btns {
  position: relative;
}
.samsung_appliances-contents .bespoke_ai_samsung_appliances_box_visual .samsung_appliances_visual_textbox .samsung_appliances_btns .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #000;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 730px;
  left: 50%;
  transform: translateX(-50%);
}
.samsung_appliances-contents .bespoke_ai_samsung_appliances_box_visual .samsung_appliances_visual_textbox .title_black {
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
  color: #000;
}
.samsung_appliances-contents .bespoke_ai_samsung_appliances_box_visual .samsung_appliances_visual_textbox .sub_text_black {
  position: absolute;
  left: 50%;
  top: 640px;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
  color: #000;
}
.samsung_appliances-contents .bespoke_ai_samsung_appliances_box_visual .samsung_appliances_visual_textbox .samsung_appliances_btns {
  position: relative;
}
.samsung_appliances-contents .bespoke_ai_samsung_appliances_box_visual .samsung_appliances_visual_textbox .samsung_appliances_btns .purchase_button_black {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #000;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 700px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
}
.samsung_appliances-contents .airconditioner_samsung_appliances_box_visual {
  position: relative;
}
.samsung_appliances-contents .airconditioner_samsung_appliances_box_visual .samsung_appliances-visual_img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.samsung_appliances-contents .airconditioner_samsung_appliances_box_visual .samsung_appliances_visual_textbox .title {
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
  top: 580px;
  text-align: center;
  color: #fff;
}
.samsung_appliances-contents .airconditioner_samsung_appliances_box_visual .samsung_appliances_visual_textbox .sub_text {
  position: absolute;
  left: 50%;
  top: 640px;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
  top: 650px;
}
.samsung_appliances-contents .airconditioner_samsung_appliances_box_visual .samsung_appliances_visual_textbox .samsung_appliances_btns {
  position: relative;
}
.samsung_appliances-contents .airconditioner_samsung_appliances_box_visual .samsung_appliances_visual_textbox .samsung_appliances_btns .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #000;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 730px;
  left: 50%;
  transform: translateX(-50%);
}
.samsung_appliances-contents .hybrid_samsung_appliances_box_visual {
  position: relative;
}
.samsung_appliances-contents .hybrid_samsung_appliances_box_visual .samsung_appliances-visual_img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.samsung_appliances-contents .hybrid_samsung_appliances_box_visual .samsung_appliances_visual_textbox .title {
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
  top: 580px;
  text-align: center;
  color: #fff;
}
.samsung_appliances-contents .hybrid_samsung_appliances_box_visual .samsung_appliances_visual_textbox .sub_text {
  position: absolute;
  left: 50%;
  top: 640px;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
  top: 650px;
  color: #fff;
}
.samsung_appliances-contents .hybrid_samsung_appliances_box_visual .samsung_appliances_visual_textbox .samsung_appliances_btns {
  position: relative;
}
.samsung_appliances-contents .hybrid_samsung_appliances_box_visual .samsung_appliances_visual_textbox .samsung_appliances_btns .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #000;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 730px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
}
.samsung_appliances-contents .steam_samsung_appliances_box_visual {
  position: relative;
}
.samsung_appliances-contents .steam_samsung_appliances_box_visual .samsung_appliances-visual_img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.samsung_appliances-contents .steam_samsung_appliances_box_visual .samsung_appliances_visual_textbox .title {
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
  top: 520px;
  text-align: center;
  color: #fff;
}
.samsung_appliances-contents .steam_samsung_appliances_box_visual .samsung_appliances_visual_textbox .sub_text {
  position: absolute;
  left: 50%;
  top: 640px;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
  top: 650px;
  color: #fff;
}
.samsung_appliances-contents .steam_samsung_appliances_box_visual .samsung_appliances_visual_textbox .samsung_appliances_btns {
  position: relative;
}
.samsung_appliances-contents .steam_samsung_appliances_box_visual .samsung_appliances_visual_textbox .samsung_appliances_btns .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #000;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 730px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
}
.samsung_appliances-contents .kitchen_samsung_appliances_box_visual {
  position: relative;
}
.samsung_appliances-contents .kitchen_samsung_appliances_box_visual .samsung_appliances-visual_img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.samsung_appliances-contents .kitchen_samsung_appliances_box_visual .samsung_appliances_visual_textbox .title {
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
  top: 520px;
  text-align: center;
}
.samsung_appliances-contents .kitchen_samsung_appliances_box_visual .samsung_appliances_visual_textbox .sub_text {
  position: absolute;
  left: 50%;
  top: 640px;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
  top: 650px;
}
.samsung_appliances-contents .kitchen_samsung_appliances_box_visual .samsung_appliances_visual_textbox .samsung_appliances_btns {
  position: relative;
}
.samsung_appliances-contents .kitchen_samsung_appliances_box_visual .samsung_appliances_visual_textbox .samsung_appliances_btns .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #000;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 730px;
  left: 50%;
  transform: translateX(-50%);
}
.samsung_appliances-contents .aircleaner_samsung_appliances_box_visual {
  position: relative;
}
.samsung_appliances-contents .aircleaner_samsung_appliances_box_visual .samsung_appliances-visual_img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.samsung_appliances-contents .aircleaner_samsung_appliances_box_visual .samsung_appliances_visual_textbox .title {
  position: absolute;
  left: 50%;
  top: 570px;
  transform: translateX(-50%);
  font-family: "Nanum Gothic", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: -2px;
  top: 580px;
  text-align: center;
}
.samsung_appliances-contents .aircleaner_samsung_appliances_box_visual .samsung_appliances_visual_textbox .sub_text {
  position: absolute;
  left: 50%;
  top: 640px;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 28px;
  top: 650px;
}
.samsung_appliances-contents .aircleaner_samsung_appliances_box_visual .samsung_appliances_visual_textbox .samsung_appliances_btns {
  position: relative;
}
.samsung_appliances-contents .aircleaner_samsung_appliances_box_visual .samsung_appliances_visual_textbox .samsung_appliances_btns .purchase_button {
  position: absolute;
  top: 568px;
  left: 230px;
  background-color: #000;
  border-radius: 23px;
  border: none;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #fff;
  text-align: center;
  padding: 7px 14px;
  cursor: pointer;
  position: absolute;
  top: 730px;
  left: 50%;
  transform: translateX(-50%);
}

.galaxy_story-contents {
  width: 100%;
  height: 500px;
  background-color: #fff;
  display: flex;
}
.galaxy_story-contents .galaxy_story-inner {
  width: 1450px;
  margin: 80px auto;
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
}
.galaxy_story-contents .story_box_head {
  display: flex;
}
.galaxy_story-contents .story_box_head .box_head_textbox {
  position: absolute;
  top: 120px;
  left: 0;
}
.galaxy_story-contents .story_box_head .box_head_textbox .box_head_title {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 42px;
  font-weight: 600;
}
.galaxy_story-contents .samsung_story_img_box_content {
  display: flex;
}
.galaxy_story-contents .samsung_story_img_box_content .samsung_stroy_img_box {
  position: absolute;
  top: 0;
  left: 400px;
}
.galaxy_story-contents .samsung_story_img_box_content .samsung_stroy_img_box img {
  width: 684px;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
}
.galaxy_story-contents .samsung_story_textbox {
  position: absolute;
  top: 0;
  right: 0;
}
.galaxy_story-contents .samsung_story_textbox .title {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 15px;
  font-weight: 600;
  width: 325px;
  display: flex;
  padding-top: 20px;
  line-height: 23px;
}
.galaxy_story-contents .samsung_story_textbox:before {
  width: 340px;
  height: 2px;
  content: "";
  display: block;
  clear: both;
  background-color: #b4b2b2;
}
.galaxy_story-contents .samsung_story_textbox .story_more_btns .story_more_button {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 13px;
  font-weight: 600;
  background-color: transparent;
  border: none;
  display: none;
}
.galaxy_story-contents .samsung_story_textbox:hover .story_more_button {
  display: block;
  border-bottom: 2px solid #000;
  margin-top: 10px;
}/*# sourceMappingURL=style.css.map */